extends ../layouts/default

block content
    if Statics.length
        each static in Statics
            head
                title Altius | About Us 
            
            .slider
                img(src=static.image.First, alt='slider')
            .container
                .breadcram
                    a(href='/') Home
                    |  > About Altius
            .whopage   
                .section-header
                    h2.dark-text=static.title
                
                .container.proPage
                    p=static.content.first
                           
                    p=static.content.second
                            
                    p=static.content.third
                            
                    br
                    .side
                            h5=static.content.fourth 
                           

