extends ../layouts/default

block content
    if Badmintons.length
        each badminton in Badmintons
            body
                head
                    title Altius | Products | Sports
                .slider
                    img(src=badminton.image.First, alt='slider')
                .container
                    .breadcram
                    a(href='/') Home
                    |  > Products > Badminton
                .whopage
                .section-header
                    h2.dark-text=badminton.title
                .container.proPage
                    p=badminton.content.first
                .section-header
                    .regular.container
                        div
                            img(src=badminton.image.Second)
                        div
                            img(src=badminton.image.Third)
                        div
                            img(src=badminton.image.Fourth)
                        div
                            img(src=badminton.image.Fifth)
                        div
                            img(src=badminton.image.Sixth)
                        
                    //- Block2
                #d.section-margin
                    .container
                        .col-md-6
                            #d5
                                h3.h4=badminton.heading.first
                                ul.ul
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.second
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.third
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.fourth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.fifth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.sixth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.seventh
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.eighth
                        .col-md-6
                            #d5
                                h3.h4=badminton.heading.second
                                ul.ul
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.ninth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.tenth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.eleventh
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.twelth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.thirteenth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.forteenth
                                    li#p6
                                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                        =badminton.content.fifteenth
                    br
                    br
                    br
                    br
                
                script(src="/js/jquery/script2.js")
    //- .container: .jumbotron
            img(src='/images/logo.svg', width='160')
            h1 Welcome
            p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
            p It includes the latest versions of
                | <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
                | and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
            p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
            hr
            if user && user.canAccessKeystone
                p
                    a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
            else
                p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
                p
                    a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
                    |  to use the Admin UI.
            hr
            p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
                | <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
