extends ../layouts/default

block content
	if Products.length
		each Product in Products
			head
				title  Altius | Products | Other Products
			div
				img(src=Product.image.jumbotron_image,alt="Base Systems",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	 &gt; Products  &gt; Base Systems
			
			.whopage
				.section-header
					h2.dark-text=Product.title
				//- .container.proPage
					p.dark-text Salient features
					ul#li_block4 
						li<strong>Simple and quick to install</strong>
						li<strong>Easy to clean with no maintenance requirement</strong>
						li<strong>Interwoven foam pad with an enduring and long life span</strong>

					
			.section-header
				.regular.container
					div
						img(src=Product.image.one)
					div
						img(src=Product.image.two)
					div
						img(src=Product.image.three)
					div
						img(src=Product.image.four)
					
			a.anchor		
				.container.proPage
					section#ecocept.container
						a.anchor
							i.fa.fa-check.fa-2x.base-section &nbsp;&nbsp;
							
							span.h4=Product.heading.one
						p(style="text-align:left;color:#167AA3;font-weight:bold")=Product.content.one
						.container.products_list
							ul.clearfix
								li
									a(href="#")
										img.oth-images(src=Product.image.five)
								li
									a(href="#")
										img.oth-images(src=Product.image.six)
					hr
					
					section#accorder.container
						
							i.fa.fa-check.fa-2x.base-section &nbsp;&nbsp;

							span.h4=Product.heading.two
						p(style="text-align:left;color:#167AA3;font-weight:bold")=Product.content.two
						.container.products_list
							ul.clearfix
								li
									a(href="#")
										img.oth-images(src=Product.image.seven)
								li
									a(href="#")
										img.oth-images(src=Product.image.eight)
					hr
					
					section#sine.container
						
							i.fa.fa-check.fa-2x.base-section &nbsp;&nbsp;

							span.h4=Product.heading.three
						p(style="text-align:left;color:#167AA3;font-weight:bold")=Product.content.three
							
						.container.products_list
							ul.clearfix
								li
									a(href="#")
										img.oth-images(src=Product.image.nine)
								li
									a(href="#")
										img.oth-images(src=Product.image.ten)