extends ../layouts/default

block content
	head
		title Altius | Products | Sports
	div
		img(src=Product_contents.image.first,alt="hockey",width="100%")
	.container
		.breadcram
			<a href="/">Home</a>
			|	 &gt; Products  &gt; Basketball
	
	.whopage
		.section-header
			h2.dark-text Basketball
		.container.proPage

			p=Product_contents.content.first
			//- When it comes to basketball, you are spoilt for choice. We have a complete range of products for both indoor and outdoor application, meeting both the price point and 
				|	the playing standard of the sport. From Polyurethane Surfaces to Acrylic, Synthetic Turf to Vinyl and Interlocking Tiles, our products meet the exacting standards as set out by FIBA.
	.section-header
		.regular.container
			div
				img(src=Product_contents.image.second)
			div
				img(src=Product_contents.image.third)
			div
				img(src=Product_contents.image.fourth)
			div
				img(src=Product_contents.image.fifth)
			div
				img(src=Product_contents.image.six)

	
	
	
	#d.section-margin
		.container
			.col-md-4
				#d5
					h3.h4=Product_contents.content.Second
					//- POLYURETHANE SYSTEM

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.Third
							//- |	Seamless, non-porous and smooth surface
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.fourth

							//- |	Optimum sports comfort with perfect friction and sliding properties
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.fifth
							//- |	Maximum load-bearing capacity and water resistant coating
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.sixth
							//- |	Excellent colour fastness, clear line marking and multifunctional use
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.seventh
							//- |	Easy to maintain and simple to clean and repair

			.col-md-4
				#d5
					h3.h4=Product_contents.content.eighth
					//- ACRYLIC SURFACES

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.nine
							//- |	Premium quality, pre-blended pure acrylic finish
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.ten
							//- |	All-weather sporting surface with excellent abrasion resistance and uniform texture
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.eleven
							//- |	 Manufactured from premium 100% acrylic resins
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twelve
							//- |	Confident player footing and true ball bounce
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.thirteen
							//- |	Light, stable, oxide pigments, selective reinforcing powders and fillers assure maximum UV resistance.
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.fourteen
							//- |	Economical and wide range of colours
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.fifteen
							//- |	Skid and water resistant
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.sixteen

							//- |	Both indoor and outdoor applications
			.col-md-4
				#d5
					h3.h4=Product_contents.content.seventeen
					//- VINYL SPORTS SURFACE (INDOOR)

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.eighteen
							//- |	Suitable for all indoor sports
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.nineteen
							//- |	Easy to install and clean
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twenty
							//- |	Very resilient
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twenty1
							//- |	High shock absorption
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twenty2
							//- |	Adequately cushioned leading to reduced injuries
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twenty3
							//- |	Wide range of surfaces from 4.5mm to 8mm
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twenty4
							//- |	Comfortable underfoot experience
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							=Product_contents.content.twenty5
							//- |	Badvanced technology rigorously tested for ball bounce and coefficient of friction
	script(src="/js/jquery/script2.js")