extends ../layouts/default

block content
	if Products.length
		each Product in Products
			head
				title Altius | Products | Sports
			div
				img(src=Product.image.jumbotron_image,alt="hockey",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	 &gt; Products  &gt; Basketball
			
			.whopage
				.section-header
					h2.dark-text=Product.title
				.container.proPage

					p=Product.content.one
					//- When it comes to basketball, you are spoilt for choice. We have a complete range of products for both indoor and outdoor application, meeting both the price point and 
						|	the playing standard of the sport. From Polyurethane Surfaces to Acrylic, Synthetic Turf to Vinyl and Interlocking Tiles, our products meet the exacting standards as set out by FIBA.
			.section-header
				.regular.container
					div
						img(src=Product.image.one)
					div
						img(src=Product.image.two)
					div
						img(src=Product.image.three)
					div
						img(src=Product.image.four)
					div
						img(src=Product.image.five)

			
			
			
			#d.section-margin
				.container
					.col-md-4
						#d5
							h3.h4=Product.heading.one
							//- POLYURETHANE SYSTEM

							ul.ul
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.two
									//- |	Seamless, non-porous and smooth surface
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.three

									//- |	Optimum sports comfort with perfect friction and sliding properties
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.four
									//- |	Maximum load-bearing capacity and water resistant coating
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.five
									//- |	Excellent colour fastness, clear line marking and multifunctional use
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.six
									//- |	Easy to maintain and simple to clean and repair

					.col-md-4
						#d5
							h3.h4=Product.heading.two
							//- ACRYLIC SURFACES

							ul.ul
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.seven
									//- |	Premium quality, pre-blended pure acrylic finish
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.eight
									//- |	All-weather sporting surface with excellent abrasion resistance and uniform texture
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.nine
									//- |	 Manufactured from premium 100% acrylic resins
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.ten
									//- |	Confident player footing and true ball bounce
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.eleven
									//- |	Light, stable, oxide pigments, selective reinforcing powders and fillers assure maximum UV resistance.
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.twelve
									//- |	Economical and wide range of colours
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.thirteen
									//- |	Skid and water resistant
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.fourteen

									//- |	Both indoor and outdoor applications
					.col-md-4
						#d5
							h3.h4=Product.heading.three
							//- VINYL SPORTS SURFACE (INDOOR)

							ul.ul
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.fifteen
									//- |	Suitable for all indoor sports
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.sixteen
									//- |	Easy to install and clean
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.seventeen
									//- |	Very resilient
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.eighteen
									//- |	High shock absorption
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.nineteen
									//- |	Adequately cushioned leading to reduced injuries
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.twenty
									//- |	Wide range of surfaces from 4.5mm to 8mm
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.twentyone
									//- |	Comfortable underfoot experience
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.twentytwo
									//- |	Badvanced technology rigorously tested for ball bounce and coefficient of friction
			script(src="/js/jquery/script2.js")