//-case study of the month
extends ../layouts/default

block content
	.slider
		if Case_studies.length
			each case_study in Case_studies
				head 
					title Altius | Case Study of the Month

				img(src=case_study.image.first, alt='slider')
	.container
		.breadcram
			a(href='/') Home
			| > Case Study Of The Month
		.whopage

			.section-header
				if Case_studies.length
					each case_study in Case_studies
						h2(class="dark-text")= case_study.title
			.container.proPage
				.container
					if Case_studies.length
						each case_study in Case_studies
							h5=case_study.vanue
							P=case_study.describe
								
							br
				.row
					.container.products_list
						if Case_studies.length
							each case_study in Case_studies
								ul
									li
										a(href='#')
											img(src=case_study.image.Second)
									li
										a(href='#')
											img(src=case_study.image.Third)
									li
										a(href='#')
											img(src=case_study.image.Fourth)
					if Case_studies.length
						each case_study in Case_studies
							p
								strong Date of project completion :
								=case_study.Date
							p
								strong Surface :
								=case_study.surface
							P
								strong Base :
								=case_study.base
							br
							
							p=case_study.content.first
							p=case_study.content.second
							p=case_study.content.third
