extends ../layouts/default

block content
	if Products.length
		each Product in Products
			head
				title Altius | Products | Leisure
			div
				img(src=Product.image.jumbotron_image,alt="hockey",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	&gt; Products &gt; Children&rsquo;s Play Area
			
			.whopage
				.section-header
					h2.dark-text=Product.title
				.container.proPage

					ul#li_block4
						li
							strong=Product.heading.one
						li
							strong=Product.heading.two
						li
							strong=Product.heading.three
			.section-header
				.regular.container
					div
						img(src=Product.image.one)
					div
						img(src=Product.image.two)
					div
						img(src=Product.image.three)
					div
						img(src=Product.image.four)
					div
						img(src=Product.image.five)
					div
						img(src=Product.image.six)
					div
						img(src=Product.image.seven)
			
			.container.proPage
				p=Product.content.one
				//-  Safe, soft, durable and an inviting playing surface – that’s what TigerTurf synthetic surfaces are when it comes to Kindergartens. Creatively installed, it can transform your playground into an area that maximizes fun, minimizes injury and promotes play and activity all day whatever the weather.What is more, with our TigerPads, that are high in compressive strength and have no permanent deformation, you can have a surface conforming to the most rigourous fall-height criterion.
				br
			
			#d.section-margin
				.container
					.col-md-6
						#d5
							h3.h4=Product.heading.four

							ul.ul
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.two
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.three
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.four
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.five
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.six
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.seven
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.eight
					.col-md-6
						#d5
							h3.h4=Product.heading.five

							ul.ul
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.nine
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.ten
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.eleven
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.twelve
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.thirteen
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.fourteen
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=Product.content.fifteen