extends ../layouts/default

block content
	head
		title Altius | Contact
	.container
		.breadcram
			a(href="/") Home
			| &gt; Contact Us
	.container
		.row.coninfo
			.col-sm-4.col-xs-12
				if contacts.length
					each contact in contacts
						h3=contact.content.first
				.contAdd
					if contacts.length
						each contact in contacts
							h5= contact.content.second
							p
							strong=contact.content.third
							<br>
							=contact.content.ten
							<br>
							=contact.content.eleven
							<br>
							=contact.content.twelve
							<br>
							i.fa.fa-phone
							=contact.content.thirteen
							<br>
							i.fa.fa-phone
							=contact.content.fourteen
							p
							strong=contact.content.fifteen
							<br>
							=contact.content.sixteen
							<br>
							=contact.content.seventeen
							<br>
							=contact.content.eightteen
							<br>
							=contact.content.nineteen
							<br>
							i.fa.fa-phone
							=contact.content.twenty
							<br>
							i.fa.fa-envelope
							=contact.content.twentyone


					//- h5 Altius Sports &amp; Leisure Pvt Ltd
					//- p
					//- 	strong Corporate Office:
						br
						| 38A/2, Jyotish Roy Road,
						br
						| Kolkata – 700053,
						br
						| India
						br
						i.fa.fa-phone
						|  +91 33 2498 7783
						br
						i.fa.fa-phone
						|  +91 98362 77678
					//- p
						//- strong
						//- 	| Sales Office:
						//- br
						//- | B1/30, Hauz Khas,
						//- br
						//- | Aurobindo Marg,
						//- br
						//- | New Delhi – 110016,
						//- br
						//- | India
						//- br
						//- i.fa.fa-phone
						//- |  +91 33 2498 7783
						//- br
						//- i.fa.fa-envelope
						//- |  info@altiussports.com
			
			.col-sm-4.col-xs-12
				if contacts.length
					each contact in contacts
						h3= contact.content.fourth
						iframe(src=contact.content.fiveth)
						iframe(src=contact.content.Sixth)
				//- h3 Our Location
				//- p
				//- 	iframe(src=contact.content.Fiveth)
						| &lt;br /&gt;
				//- p
				//- 	iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.611509266415!2d77.20252871508077!3d28.551394582449873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d8a9e555555%3A0xa0bfba6cc448f7fc!2sCosy+Restaurant!5e0!3m2!1sen!2sin!4v1488191489162", width="100%", height="320", frameborder="0", style="border:0;", allowfullscreen="allowfullscreen")
			
			.col-sm-4.ol-xs-12.confrm
				if contacts.length
					each contact in contacts
						h3= contact.content.Seventh
				//- h3 Request a quote
				#wpcf7-f56-p20-o1.wpcf7(role="form", lang="en-US", dir="ltr")
					.screen-reader-response
					form#form5
						div(style="display: none;")
							input(type="hidden", name="_wpcf7", value="56")
							input(type="hidden", name="_wpcf7_version", value="4.6")
							input(type="hidden", name="_wpcf7_locale", value="en_US")
							input(type="hidden", name="_wpcf7_unit_tag", value="wpcf7-f56-p20-o1")
							input(type="hidden", name="_wpnonce", value="3716edacc7")
						.form-group
							span.wpcf7-form-control-wrap.text-560
								input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control#cont_name(type="text", name="text-560", value="", size="40", aria-required="true", aria-invalid="false", placeholder="Name")
						.form-group
							span.wpcf7-form-control-wrap.email-162
								input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.form-control#cont_email(type="email", name="email-162", value="", size="40", aria-required="true", aria-invalid="false", placeholder="Email")
						.form-group
							span.wpcf7-form-control-wrap.tel-668
								input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel.form-control#cont_number(type="tel", name="tel-668", value="", size="40", aria-required="true", aria-invalid="false", placeholder="Phone")
						.form-group
							span.wpcf7-form-control-wrap.textarea-235
								textarea.wpcf7-form-control.wpcf7-textarea.form-control#cont_message(name="textarea-235", cols="40", rows="10", aria-invalid="false", placeholder="Message")
						p
							#return-text
							input.wpcf7-form-control.wpcf7-submit.btn.btn-success(type="submit", value="submit", onclick = 'SUBMIT()')
							span.ajax-loader
						.wpcf7-response-output.wpcf7-display-none
			
			.col-sm-12(style="margin-top: 30px;")
				if contacts.length
					each contact in contacts
						h3= contact.content.eightth
						p= contact.content.nineth
	



	
	




	
//.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.

