extends ../layouts/default

block content
	head
		title Altius | Products | Sports
	div
		img(src=Product_contents.image.first, width='100%')
	.container
		.breadcram
			a(href='/') Home
			|  > Products > Cricket
	.whopage
		.section-header
			h2(class="dark-text")=Product_contents.page_name
		.container.proPage
			ul#li_block4
				li
					strong=Product_contents.content.first
						// Only cricket wickets certified by England and Wales Cricket Board
			// <div class = "content-products">
			p=Product_contents.content.Second
				//- | As a former international cricketer, Graham Vivian, the founder of TigerTurf NZ Ltd, could see the potential for
				//- | synthetic grass cricket wickets. TigerTurf has
				//- | developed a range of tufted polypropylene artificial grass wickets and
				//- | has more than 20,000 synthetic cricket wickets installed the world over.
	.section-header
		.regular.container
			div
				img(src=Product_contents.image.second)
			div
				img(src=Product_contents.image.third)
			div
				img(src=Product_contents.image.fourth)
			div
				img(src=Product_contents.image.fifth)
				
	#d.section-margin
		.container
			.col-md-6
				#d5
					h3.h4=Product_contents.content.Third 
						//THE RIGHT PITCH
					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.fourth
							//- |                          Developed in consultation with top players and administrators
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.fifth
							//- |                           A range of wickets to suit every playing level
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.sixth
							//- |                         Affordable to schools and clubs
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.seventh
							//- |                         Consistent and even surface with fantastic ball bounce and turn
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.eighth
							|                         All weather, quick drying
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.nine
							|                         Low maintenance
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.ten
							//- |                         Extremely hardwearing and durable
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.eleven
							//- |                         Ideal for both indoor and outdoor cricket
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.twelve
							//- |                         Run-up Wickets & Roll-out Wickets available too
			.col-md-6
				#d5
					h3.h4=Product_contents.content.thirteen
					//- TigerTurf OUTFIELD
					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.fourteen
							//- |                           Fast draining, structured over a dynamic base
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.fifteen
							//- | Non-abrasive and durable polyethylene yarn – no skin burn
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.sixteen
							//- |                           In-fill of TPE (green, natural rubber) that means no smell and less heat absorption
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.seventeen
							//- |                           Medium pile height thus tall enough to absorb shock yet short enough to allow the ball to race to the boundary
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
							=Product_contents.content.eighteen
							//- |                         Infill allows players to slide and dive without risk of injury
		br
		br
		br
		br
	
