extends ../layouts/default

block content
    if Badmintons.length
        each badminton in Badmintons
            head
                title Altius | Products | Sports
            div
                img(src=badminton.image.First, alt='football', width='100%')
            .container
                .breadcram
                    a(href='/') Home
                    |  > Products  > Football
            .whopage
                .section-header
                    h2.dark-text=badminton.title
                .container.proPage
                    ul#li_block4
                        li
                            strong=badminton.heading.third
                        li
                            strong=badminton.heading.fourth
                        li
                            strong=badminton.heading.fifth
                        li
                            strong=badminton.content.first
                    p=badminton.content.second
                        //- | The world's most popular sport is now played on the most advanced artificial grass surface, recognized by FIFA. But the real revolution has been to transform dust bowls and mud pits, where generations of children have learnt their football skills, into high performance, heavily used "theatres of dreams".
                    br
                    br
                .section-header(style='padding-bottom : 10px;')
                    .regular.container(style='height : 250px;')
                        div
                            img(src=badminton.image.Second)
                        div
                            img(src=badminton.image.Third)
                        div
                            img(src=badminton.image.Fourth)
                        div
                            img(src=badminton.image.Fifth)
                        div
                            img(src=badminton.image.Sixth)
                        div
                            img(src=badminton.image.Seventh)
                        div
                            img(src=badminton.image.Eighth)
                        div
                            img(src=badminton.image.Ninth)
                        div
                            img(src=badminton.image.Tenth)
            .container.proPage
                p=badminton.content.third
                    //- | You can wear flat-soled shoes and teachers, coaches and facility managers no longer need to monitor footwear!
                    strong
                        br
                        br
                        =badminton.content.fourth
                        //- | 	Ideal for heavy use futsal fields and schools.
                br
                br
            Block2 
            #d.section-margin
                .container
                    .col-md-6
                        #d5
                            h3.h4=badminton.heading.first
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.fifth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.sixth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.seventh
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eighth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.ninth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.tenth
                                br
                    .col-md-6
                        #d5
                            h3.h4(style='text-transform: uppercase;')=badminton.heading.second
                        ul.ul
                            li#p6
                                span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                =badminton.content.eleventh
                            li#p6
                                span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                =badminton.content.twelth
                            li#p6
                                span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                =badminton.content.thirteenth
                            li#p6
                                span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                =badminton.content.forteenth
                br
                br
                br


                











   