extends ../layouts/default
block content
    if Products.length
        each Product in Products
            head
                title Altius | Products | Sports
            div
                img(src=Product.image.jumbotron_image, alt='hockey', width='100%')
            .container
                .breadcram
                a(href='/') Home
                |  > Products  > Hockey
            .whopage(style='padding-bottom : 10px;')
                .section-header
                    h2(class="dark-text")=Product.title
                .container.proPage
                    ul#li_block4
                        li
                            strong=Product.heading.one
                        li
                            strong=Product.heading.two
                            //- FIH Preferred Supplier
                        li
                            strong=Product.heading.three
                            //- | Play possible on our WETT surface even when dry thus preserving the most precious of natural resources – Water!
                br
                br
            .section-header(style='padding-bottom : 10px;')
                .regular.container(style='height : 250px;')
                    div
                        img(src=Product.image.one)
                    div
                        img(src=Product.image.two)
                    div
                        img(src=Product.image.three)
                    div
                        img(src=Product.image.four)
                    div
                        img(src=Product.image.five)
                    div
                        img(src=Product.image.six)
                    div
                        img(src=Product.image.seven)
                    div
                        img(src=Product.image.eight)

            .container.proPage
                p
                    =Product.content.one
                    //- | All internationals, every top club match and almost every other game of hockey is now played on artificial grass hockey turfs. Innovations in synthetic hockey fields have developed fast pitches, true ball roll, and increased player safety and comfort resulting in a faster, more exciting and skillful game.
                    //- | TigerTurf offers hockey turf products for three different systems – unfilled, dressed and filled. All meet the Federation of International Hockey’s (FIH) performance standards.
                br
                br
            //-  Block2
            #d.section-margin
                .container
                    .col-md-12
                        #d5
                            h3.h4=Product.heading.four
                        
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.two
                                    //- | TigerTurf WETT turf hockey fields are regularly used for international matches throughout the world.
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.three
                                    //- | Where hockey players demand water turfs, the amount of water required is significantly reduced when compared with the requirement of other hockey turfs 
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.four
                                    //- | Engineered to provide a playing surface that lasts longer and plays better
                            
                            h3.h4=Product.heading.five
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.five
                                    //- | TigerTurf's sand-dressed hockey turfs feature densely tufted, soft polyethylene curled yarns that are part-filled with selected round sand.
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.six
                                    //- | When laid over a rubber pad, all FIH "Global" playing standards are achieved and the need for water is eliminated
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.seven
                                    //- | The special fibres provide a synthetic surface that plays like a 'wet field', whilst the sand layer supports the base of the fibres in strength without appearing on the surface
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.eight
                                    //- | For the player, the game is enhanced; for the owner, money is saved

                            h3.h4=Product.heading.six
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.nine
                                    //- | TigerTurf's sand-filled hockey fields have excellent features.
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.ten
                                    //- | Hockey surfaces that are long lasting and offer excellent ball speed and foot traction
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.eleven
                                    //- | Multisport - ideal for not only hockey but also other sports
                br
                br
                br
                br