extends ../layouts/default

block content
	if Badmintons.length
		each badminton in Badmintons
			head
				title Altius | Products | Leisure
			div
				img(src=badminton.image.First,alt="hockey",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	&gt; Products &gt; Landscape
			
			.whopage
				.section-header
					h2.dark-text=badminton.title
				.container.proPage

					
			.section-header
				.regular.container
					div
						img(src=badminton.image.Second)
					div
						img(src=badminton.image.Third)
					div
						img(src=badminton.image.Fourth)
					div
						img(src=badminton.image.Fifth)
					div
						img(src=badminton.image.Sixth)
					div
						img(src=badminton.image.Seventh)
					div
						img(src=badminton.image.Eighth)
					div
						img(src=badminton.image.Ninth)
					div
						img(src=badminton.image.Tenth)
			.container.proPage
				p=badminton.content.first
				br
				br
			#d.section-margin
				.container
					.col-md-12
						#d5
							h3.h4=badminton.heading.first

							ul.ul
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.second
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.third
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.fourth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.fifth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.sixth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.seventh
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.eighth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.ninth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.tenth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.eleventh
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.twelth
								li#p6
									span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
									=badminton.content.thirteenth