extends ../layouts/default

block content
	if Statics.length
		each static in Statics
			head
				title Media
			.slider
				img(src=static.image.First, alt="slider")
			.container
				.breadcram
					a(href="/") Home
					| &gt; Media
			.whopage
				.section-header
					h2.dark-text=static.title
				.container.my-cont
					.c-box
						ul.ourser.sanju
							li
								a(href="../images/media_pdf/Sports-Turf-Market-Growth-to-Exceed-11-by-2019-Driven-by-Artificial-Turf-Sales.pdf", target="_blank")
									img(src=static.image.Second, alt="n5")
								p.content-san=static.content.first
							li
								a(href="../images/media_pdf/Shivalik-Public-School.pdf", target="_blank")
									img(src=static.image.Third, alt="n4")
								p.content-san=static.content.second
							li
								a(href="../images/media_pdf/Reliance-Foundation-Youth-Sports-Embarks-Upon-Creating-Unified-Sports-Culture-For-India-_-The-North-East-Trailblazer.pdf", target="_blank")
									img(src=static.image.Fourth, alt="n3")
								p.content-san=static.content.third
							li
								a(href="../images/media_pdf/Kolkata-slum-kids-battle-it-out-for-GÇÿWorld-CupGÇÖ-berth-Times-of-India.pdf", target="_blank")
									img(src=static.image.Fifth, alt="n2")
								p.content-san=static.content.fourth
							li
								a(href="../images/media_pdf/Jio-Gardens.pdf", target="_blank")
									img(src=static.image.Sixth, alt="n1")
								p.content-san=static.content.Fifth
