extends ../layouts/default

block content
    if Badmintons.length
        each badminton in Badmintons

            head
                title Altius | Products | Sports
            div
                img(src=badminton.image.First, alt='Multi Sports', width='100%')
            .container
                .breadcram
                    a(href='/') Home
                    |  > Products  > Multi
            .whopage(style='padding-bottom:10px;')
                .section-header
                    h2.dark-text=badminton.title
            .container.proPage
                ul#li_block4
                    li
                        strong=badminton.heading.first
                    li
                        strong 
                            =badminton.heading.second
                    li
                        strong=badminton.heading.third
                    li
                        strong=badminton.heading.fourth

                br
                br
            .section-header
                .regular.container
                    div
                        img(src=badminton.image.Second)
                    div
                        img(src=badminton.image.Third)
                    div
                        img(src=badminton.image.Fourth)
                    div
                        img(src=badminton.image.Fifth)
                    div
                        img(src=badminton.image.Sixth)
                    div
                        img(src=badminton.image.Seventh)
                    div
                        img(src=badminton.image.Eighth)
                    div
                        img(src=badminton.image.Ninth)
                    div
                        img(src=badminton.image.Tenth)
            
            .container.proPage
                p=badminton.content.first
                    //- | TigerTurf’s synthetic, all-weather, multi-use playing surfaces have become a standard facility in primary schools, intermediate schools and colleges throughout India, New Zealand, Australia, Europe, the Americas and rest of Asia. Clubs and real estate projects are also finding multi use sports surfaces providing better value for money as you can have multiple sports without the need for a larger area. GET MORE FOR LESS – ASK OUR CAD TEAM FOR A FREE ESTIMATION.
                br
                br
            //- Block2
            #d.section-margin
                .container
                    .col-md-6
                        #d5
                            h3.h4=badminton.heading.fifth
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.second
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.third
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.fourth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.fifth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.sixth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.seventh
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eighth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.ninth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.tenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eleventh
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twelth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.thirteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.forteenth
                    .col-md-6
                        #d5
                            h3.h4=badminton.heading.sixth
                            p#p6=badminton.content.fifteenth
                                //- | Our vinyl sports flooring range is suitable for all indoor sports and has high shock absorption properties and is an extremely durable playing surface. The advanced technology ensures that the sports floor is adequately cushioned, thus greatly lowering the impact on the joints of players.
                                //- | We have a range of surfaces from 4.5mm to 8mm, and the same has been rigorously tested for ball bounce and coefficient of friction. With a variety of colours and topcoat finishing, we even bring out the aesthetic value with the sport.                    
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.sixteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.seventeenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eighteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.ninteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twentieth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twentyfirst
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twentysecond
                br
                br
                br
                br