extends ../layouts/default

block content
    if Vinyls.length
        each Other in Vinyls
            head
                title Altius | Products | Sports
            div
                img(src=Other.image.first, alt='Other Sports', width='100%')
                //- Block1
            .container
                .breadcram
                    a(href='/')  Home
                    |  > Products  > Other Sports
            .whopage(style='padding-bottom:10px;')
                .section-header
                    h2.dark-text=Other.heading.first
            .section-header
                .regular.container
                    div
                        img(src=Other.image.second)
                    div
                        img(src=Other.image.third)
                    div
                        img(src=Other.image.fourth)
                    div
                        img(src=Other.image.fifth)

            .container.proPage
                p=Other.content.first
                    
                    
                    strong=Other.content.second
                    | ; 
                    br
                    =Other.content.third
                    strong=Other.content.fourth
                    |  and 
                    strong=Other.content.fifth
                    br
                    =Other.content.sixth
                    strong=Other.content.seventh
                    br
                    =Other.content.eight
                    strong=Other.content.ninth
                    br
                    =Other.content.tenth
                    strong=Other.content.eleventh
                br
                br