//-Services
extends ../layouts/default

block content
	if Statics.length
		each static in Statics
			.slider
				img(src=static.image.First, alt='slider')
			.container
				.breadcram
					a(href='/') Home
					|  > Our Services
					.whopage
						.section-header
							h2.dark-text=static.title
						.container.my-cont.our_servic
							.row
								.col-sm-6
									figure
										img(src=src=static.image.Second)
									figcaption
										h2=static.heading.First
										p=static.content.first
										
								.col-sm-6
									figure
										img(src=src=static.image.Third)
									figcaption
										h2=static.heading.Second
										p=static.content.second
										
								.col-sm-6
									figure
										img(src=src=static.image.Fourth)
									figcaption
										h2=static.heading.Third
										p=static.content.third
										
								.col-sm-6
									figure
										img(src=src=static.image.Fifth)
									figcaption
										h2=static.heading.Fourth
										p=static.content.fourth
										
								.col-sm-6
									figure
										img(src=src=static.image.Sixth)
									figcaption
										h2=static.heading.Fifth
										p=static.content.Fifth
										
								.col-sm-6
									figure
										img(src=src=static.image.Seventh)
									figcaption
										h2=static.heading.Sixth
										p=static.content.Sixth
										
br
br
									
