extends ../layouts/default

block content
	if Statics.length
		each static in Statics

			div
				img(src=static.image.First, width="100%")
			.container
				.breadcram
					a(href="index.html") Home
					|  &gt; Pay and Play
			.whopage
				.container.products_list
					.section-header
						h1.dark-text=static.title
					div
						p(style="font-size: 16px; text-align:left; margin-bottom:20px; color:#0872c8; text-transform: uppercase;")
							strong=static.heading.First
					.container.proPage
						p=static.content.first
						
					.sano_li
						br
						br
						p(style="text-align:center; margin-bottom:20px;")
							img(src=static.image.Second, alt="altius-lifestyle-logo")
							br.tiger-break
							img.tiger-logo(src=static.image.Third, alt="altius-lifestyle-logo")
						br
						br
						p(style="font-size: 16px; text-align:left; margin-bottom:20px; color:#0872c8; text-transform: uppercase;")
							strong=static.heading.Second
					
					.imgBoxes
						ul
							li
								img.myImages(src=static.image.Fourth)
								br
								br
								.gridFline=static.heading.Third
									
								.gridSline=static.content.second
									
							li
								img.myImages(src=static.image.Fifth)
								br
								br
								.gridFline=static.heading.Fourth
									
								.gridSline=static.content.third
									
							li
								img.myImages(src=static.image.Sixth)
								br
								br
								.gridFline=static.heading.Fifth
									
								.gridSline=static.content.fourth
									
							li
								img.myImages(src=static.image.Seventh)
								br
								br
								.gridFline=static.heading.Sixth
									
								.gridSline=static.content.Fifth
								
							li
								img.myImages(src=static.image.Eighth)
								br
								br
								.gridFline=static.heading.Seventh
									
								.gridSline=static.content.Sixth
									
				.container.proPage
					.side
						h5=static.heading.Eighth
			br
			br
					

	