extends ../layouts/default
block content
        head
            title Search Results	
        .container.search
        
            div    
                #searchHead.col-md-6.col-xs-6.col-lg-6
                    b Your Search results for: 
                        span#find_word 
                .result.col-md-6.col-xs-6.col-lg-6
                    b Number of results found: 
                        =(Products.length + Contacts.length + cases.length + Homes.length + Fiab.length + Media.length + Pay.length)
                    //- span=Product_contents.length
            br
            br
            .col-lg-12.col-md-12.col-xs-12
                if(Products.length + Contacts.length + cases.length + Homes.length + Fiab.length + Media.length + Pay.length )
                    if (Products.length)
                        each Product in Products
                            a.align(href=Product.page_url)=Product.title
                            br
                            p.para=Product.content.one
                            hr.horizontal

                    if (Contacts.length)
                        each Contact in Contacts
                            a.align(href=Contact.page_url)=Contact.title
                            br
                            p.para=Contact.content.one
                            hr.horizontal
                    if (cases.length)
                        each casey in cases
                            a.align(href=casey.page_url)=casey.title
                            br
                            p.para=casey.content.one
                            hr.horizontal
                    if (Homes.length)
                        each home in Homes
                            
                            a.align(href=home.page_url)=home.title
                            br
                            p.para=home.content.sixth
                            hr.horizontal

                    if Fiab.length
                        each fiab in Fiab
                            a.align(href=fiab.page_url)=fiab.title
                            br
                            p.para=fiab.content.one
                            hr.horizontal
                    if Media.length
                        each media in Media
                            
                            a.align(href=media.page_url)=media.title
                            br
                            p.para=media.description.one
                            hr.horizontal
                    if Pay.length
                        each pay in Pay
                            
                            a.align(href=pay.page_url)=pay.title
                            br
                            p.para=pay.content.one
                            hr.horizontal
                    if Service.length
                        each service in Service
                            a.align(href=service.page_url)=service.title
                            br
                            p.para=service.content.one
                            hr.horizontal
                else
                    p.noResult Result Not Found !
            script.
                var url = window.location.href.split("search/");
                word = url[url.length-1].split("%20");
                document.getElementById('find_word').innerHTML  = word.join(" ");
