extends ../layouts/default
block content
        head
            title Search Results	
        .container.search
            div
                span <b> Your Search results for : 
                    span#find_word 
                span.result<b> Number of results found: 
                    span=(Products.length + Contacts.length + cases.length + Homes.length + Fiab.length + Media.length + Pay.length)
                    //- span=Product_contents.length
            br
            if(Products.length + Contacts.length + cases.length + Homes.length + Fiab.length + Media.length + Pay.length )
                if (Products.length)
                    each Product in Products
                        a(href=Product.page_url)=Product.title
                        p=Product.content.one
                        hr.horizontal

                if (Contacts.length)
                    each Contact in Contacts
                        a(href=Contact.page_url)=Contact.title
                        p=Contact.content.one
                        hr.horizontal
                if (cases.length)
                    each casey in cases
                        a(href=casey.page_url)=casey.title
                        p=casey.content.one
                        hr.horizontal
                if (Homes.length)
                    each home in Homes
                        
                        a(href=home.page_url)=home.title
                        p=home.content.sixth
                        hr.horizontal

                if Fiab.length
                    each fiab in Fiab
                        a(href=fiab.page_url)=fiab.title
                        p=fiab.content.one
                        hr.horizontal
                if Media.length
                    each media in Media
                        
                        a(href=media.page_url)=media.title
                        p=media.description.one
                        hr.horizontal
                if Pay.length
                    each pay in Pay
                        
                        a(href=pay.page_url)=pay.title
                        p=pay.content.one
                        hr.horizontal
                //- if (Service.length)
                //-     each service in Service
                //-         a(href=service.page_url)=service.title
                //-         p=service.content.one
                //-         hr.horizontal
            else
                p.noResult Result Not Found !
            script.
                var url = window.location.href.split("search/");
                word = url[url.length-1].split("%20");
                document.getElementById('find_word').innerHTML  = word.join(" ");

    
