//-Services
extends ../layouts/default

block content
	.slider
		img(src=Statics.image.First, alt='slider')
	.container
		.breadcram
			a(href='/') Home
			|  > Our Services
			.whopage
				.section-header
					h2.dark-text=Statics.heading.First
				.container.my-cont.our_servic
					.row
						.col-sm-6
							figure
								img(src=Statics.image.Second.jpg')
							figcaption
								h2=Statics.heading.Second

					
						.col-sm-6
							figure
								img(src=Statics.image.Third.jpg')
							figcaption
								h2=Statics.heading.Third
								
						.col-sm-6
							figure
								img(src=Statics.image.Fourth.jpg')
							figcaption
								h2=Statics.heading.Fourth
								
						.col-sm-6
							figure
								img(src=Statics.image.Fifth.jpg')
							figcaption
								h2=Statics.heading.Fifth
								
						.col-sm-6
							figure
								img(src=Statics.image.Sixth.jpg')
							figcaption
								h2=Statics.heading.Sixth
								
						.col-sm-6
							figure
								img(src=Statics.image.Seventh.jpg')
							figcaption
								h2=Statics.heading.Seventh
								

							
