extends ../layouts/default

block content
	if Vinyls.length
		each SportsAcc in Vinyls
			head
				title  Altius | Products | Other Products
				
			div
				img(src=SportsAcc.image.first,alt="Lights, Nets & Accessorieshockey",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	&gt; Products  &gt; Lights&#44; Nets &amp; Accessories
			
			.whopage
				.section-header
					h2.dark-text=SportsAcc.heading.first
				.container.proPage

					
			.section-header
				.regular.container
					div
						img(src=SportsAcc.image.second)
					div
						img(src=SportsAcc.image.third)
					div
						img(src=SportsAcc.image.fourth)
					div
						img(src=SportsAcc.image.fifth)
					div
						img(src=SportsAcc.image.sixth)
					div
						img(src=SportsAcc.image.seventh)
						
			.container.proPage
				p=SportsAcc.content.first
				br
				br
	