extends ../layouts/default

block content
	if Products.length
		each Product in Products
			head
				title  Altius | Products | Other Products
				
			div
				img(src=Product.image.jumbotron_image,alt="Lights, Nets & Accessorieshockey",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	&gt; Products  &gt; Lights&#44; Nets &amp; Accessories
			
			.whopage
				.section-header
					h2.dark-text=Product.title
				.container.proPage

					
			.section-header
				.regular.container
					div
						img(src=Product.image.one)
					div
						img(src=Product.image.two)
					div
						img(src=Product.image.three)
					div
						img(src=Product.image.four)
					div
						img(src=Product.image.five)
					div
						img(src=Product.image.six)
						
			.container.proPage
				p=Product.content.one
				br
				br
	