extends ../layouts/default

block content
    if Badmintons.length
        each badminton in Badmintons
            head
                title Altius | Products | Sports
            div
                img(src=badminton.image.First, alt='Tennis', width='100%')
            .container
                .breadcram
                    a(href='/') Home
                    |  > Products  > Tennis
            .whopage
                .section-header
                    h2.dark-text=badminton.title
            .container.proPage
                ul#li_block4
                    li
                        strong=badminton.heading.first
                    li
                        strong=badminton.heading.second
                    li
                        strong=badminton.heading.third
                br
                br
            .section-header
                .regular.container
                    div
                        img(src=badminton.image.Second)
                    div
                        img(src=badminton.image.Third)
                    div
                        img(src=badminton.image.Fourth)
                    div
                        img(src=badminton.image.Fifth)
                    div
                        img(src=badminton.image.Sixth)
                    div
                        img(src=badminton.image.Seventh)
            
            .container.proPage
                p=badminton.content.first
                    //- | ITF certified TigerTurf is simply a more professional playing surface, designed in consultation with the best players and engineered to keep them at the top of their game. Not only that, we have a range of speeds to suit every playing need. From comfort to speed, from rallies to serve and volley, TigerTurf is the Ace when it comes to tennis!
                p
                    br
                    br
            //- Block2
            #d.section-margin
                .container
                    .col-md-6
                        #d5
                            h3.h4=badminton.heading.fourth
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.second
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.third
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.fourth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.fifth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.sixth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.seventh
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eighth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.ninth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.tenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eleventh
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twelth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.thirteenth
                    .col-md-6
                        #d5
                            h3.h4=badminton.heading.fifth
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.forteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.fifteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.sixteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.seventeenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.eighteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.ninteenth
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twenteith
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =badminton.content.twentyfirst
                br
                br
                br
                br


