extends ../layouts/default

block content
	if Vinyls.length
		each Vinyl in Vinyls
			head
				title  Altius | Products | Other Products
			div
				img(src=Vinyl.image.first,alt="Vinyl Flooring",width="100%")
			.container
				.breadcram
					<a href="/">Home</a>
					|	&gt; Products  &gt; Vinyl Flooring
			
			.whopage
				.section-header
					h2.dark-text=Vinyl.heading.first
				.container.proPage
					p.dark-text Salient features
					ul#li_block4 
						li<strong>Simple and quick to install</strong>
						li<strong>Easy to clean with no maintenance requirement</strong>
						li<strong>Interwoven foam pad with an enduring and long life span</strong>

					
			.section-header
				.regular.container
					div
						img(src=Vinyl.image.second)
					div
						img(src=Vinyl.image.third)
					div
						img(src=Vinyl.image.fourth)
					div
						img(src=Vinyl.image.fifth)
					div
						img(src=Vinyl.image.sixth)
					
						
			.container.proPage
				p=Vinyl.content.first
					br
				p=Vinyl.content.second  
				br
				br
	