extends ../layouts/default

block content
    if Products.length
        each Product in Products
            head
                title Altius | Products | Sports
            div
                img(src=Product.image.jumbotron_image, width='100%')
            .container
                .breadcram
                    a(href='/') Home
                    |  > Products  > Volleyball
            .whopage
                .section-header
                    h2(class="dark-text")=Product.title
            .container.proPage
                p
                    =Product.content.one
                    //- | We have a range of products for volleyball suited for every application – be it indoor or outdoor, amateur or professional. Our products cater to every price range without compromising on player comfort.
                br
                br

            .container.products_list.section-margin
                ul.clearfix.volley-images
                    li
                        a(href='#')
                            img(src=Product.image.one)
                    li
                        a(href='#')
                            img(src=Product.image.two)

                //- Block2
            #d.section-margin
                .container
                    .col-md-4
                        #d5
                            h3.h4=Product.heading.one
                            //-  POLYURETHANE SYSTEM
                            p#p6
                            =Product.content.two
                                //- | The polyurethane surface is a highly engineered sports surface providing a worry-free, shock-absorbing playing surface keeping in mind player safety, comfort and the high quality as required by the sport.
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.three
                                    //- | Seamless, non-porous and smooth surface
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.four
                                    //- | Optimum sports comfort with perfect friction and sliding properties
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.five
                                    //- | Maximum load-bearing capacity and water resistant coating
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.six
                                    //- | Excellent colour fastness, clear line marking and multifunctional use
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.seven
                                    //- | Easy to maintain and simple to clean and repair
                    .col-md-4
                        #d5
                            h3.h4=Product.heading.two
                            //-  SYNTHETIC TURF
                            p#p6
                                =Product.content.eight
                                //- | In today’s time, Volleyball is increasingly being played on artificial turf fields with an infill of both sand and rubber. They are manufactured and installed keeping in mind player safety and surface durability.
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.nine
                                    //- | Designed to replicate the best natural grass fields
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.ten
                                    //- | Our non-abrasive fibres have the colour, feel and performance of natural grass
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.eleven
                                    //- | Cancelled matches due to waterlogged pitches are a thing of the past
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.twelve
                                    //- | No heavy maintenance is required to restore worn surfaces
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.thirteen
                                    //- | Daily maintenance is reduced dramatically
                    
                    .col-md-4
                        #d5
                            h3.h4=Product.heading.three
                            p#p6
                                =Product.content.fourteen
                                //- | Great shock absorption owing to a cushioned surface makes for an ideal indoor application that comes in a burst of colours and textures.
                            ul.ul
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.fifteen
                                    //- | Easy to install and clean
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.sixteen
                                    //- | Very resilient
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.seventeen
                                    //- | High shock absorption
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.eighteen
                                    //- | Anti-slip surface
                                li#p6
                                    span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                                    =Product.content.nineteen
                                    //- | Sound absorbing
                br
                br
                br
                br
